/* variables */

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --darker-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparent-white);
  background: var(--light-gray);
}

/* Main */

.card-container {
  max-width: 900px;
  margin: 250px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 20px;
  padding: 32px;
}

div {
  padding: 50px;
}

div p {
  margin-bottom: 50px;
}

div h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  color: var(--light-gray);
  font-size: 1.5rem;
  margin-bottom: 24px;
  text-transform: uppercase;
}

div svg {
  margin-bottom: 30px;
}

div button {
  padding: 10px 20px;
  border-radius: 20px;
  border-width: 0px;
  border: 2px solid transparent;
}

.sedan button {
  color: var(--bright-orange);
}

.sedan button:hover {
  cursor: pointer;
  color: var(--light-gray);
  background: var(--bright-orange);
  border: 2px solid var(--light-gray);
}

.suv button {
  color: var(--dark-cyan);
}

.suv button:hover {
  cursor: pointer;
  color: var(--light-gray);
  background: var(--dark-cyan);
  border: 2px solid var(--light-gray);
}

.luxury button {
  color: var(--darker-cyan);
}

.luxury button:hover {
  cursor: pointer;
  color: var(--light-gray);
  background: var(--darker-cyan);
  border: 2px solid var(--light-gray);
}

.sedan {
  background: var(--bright-orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.suv {
  background: var(--dark-cyan);
}

.luxury {
  background: var(--darker-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* responsive */
@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .sedan {
    background: var(--bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .luxury {
    background: var(--darker-cyan);
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
